# Instance Sync
**/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.jar.meta

!Modpackstuff/**
/ModpackUtils/secrets.ps1
/ModpackUtils/get-game-versions.ps1
/ModpackUtils/settings.ps1
/ModpackUtils/modpack-uploader.ps1
/ModpackUtils/changes

# Modpack Stuff
**/*.log
**/*.exe
**/*.zip
/.mixin.out
/saves
/downloads
/resourcepacks
/mods
usernamecache.json
usercache.json
realms_persistence.json
**/*.zip
/logs
/ESM
/defaultconfigs
/data
/crash-reports
/emojiful
/fancymenu_data
config/ars_nouveau/search_index
**/*.bak
/screenshots
config/voicechat/username-cache.json
servers.dat_old
servers.dat
/.bobby
config/xaeropatreon.txt
/xaero
/XaeroWaypoints_BACKUP240807
/config/konkrete
/schematics
options.txt
!/config/fancymenu/options.txt
command_history.txt
/debug
knownkeys.txt
/shaderpacks/*
!/shaderpacks/
!/shaderpacks/*.txt
/datadev
/dynamic-resource-pack-cache

# Prism stuff
icon.png
ModpackUtils/devsetup.bat