# Instance Sync
**/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.jar.meta

!Modpackstuff/**
/ModpackStuff/secrets.ps1
/ModpackStuff/get-game-versions.ps1
/ModpackStuff/settings.ps1
/ModpackStuff/modpack-uploader.ps1

# Modpack Stuff
**/*.log
**/*.exe
**/*.zip
/.mixin.out
/saves
/downloads
/resourcepacks
/mods
usernamecache.json
usercache.json
realms_persistence.json
**/*.zip
/logs
/ESM
/defaultconfigs
/data
/crash-reports
/emojiful
/fancymenu_data
config/ars_nouveau/search_index
**/*.bak
/screenshots
config/voicechat/username-cache.json
servers.dat_old
servers.dat
/.bobby
config/xaeropatreon.txt
/xaero
/XaeroWaypoints_BACKUP240807
/config/konkrete
/schematics
options.txt
!/config/fancymenu/options.txt
command_history.txt
/debug
knownkeys.txt
/shaderpacks

# Prism stuff
icon.png
ModpackStuff/devsetup.bat