usernamecache.json
usercache.json
TrashSlotSaveState.json
settings.ps1
servers.dat
servers.dat_old
secrets.ps1
reauth.toml
patchouli_data.json
options.txt
modpack-uploader.ps1
ModListCreator-4.0.3-fatjar.jar
LICENSE
get-game-versions.ps1
game-versions.json
.qmenu_opened.marker
.curseclient
/shaderpacks
/screenshots
/schematics
/saves
/resourcepacks
/patchouli_books
/notes
/mods
/logs
/localconfigs
/local
/journeymap
/ESM
/emojiful
/downloads
/crash-reports
config/byg/README.txt
config/NoChatReports/README.md
config/betterstrongholds/forge-1_19/README.txt
config/betterstrongholds/README.txt
config/bettermineshafts/forge-1_19/README.txt
config/bettermineshafts/README.txt
**/*.log
/.mixin.out
README.md

# Instance Sync
**/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.jar.meta
setup.bat
